*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}

.menuLateral{
    background-color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    left: -250px;
    transition: 0.5s;
    
}

.menuLateral .titulo{
    color: black;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    font-size: 24px;
    border-bottom: 2px solid red;
}

.menuLateral ul{
    list-style: none;
}

.menuLateral ul li{
    line-height: 40px;
    border-bottom: 1px solid white;
}

.menuLateral ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;
    font-weight: bold;
    display: block;
}

.menuLateral ul li a:hover{
background-color: red;
transition: 0.5s;
}

.menuLateral ul ul{
    display: none;
}

.menuLateral ul ul li a{
    font-size: 16px;
    font-weight: 300;
    padding-left: 60px;
    background-color: white;
}

.menuLateral ul .itensWarehouse.mostra{
    display: block;
}
.menuLateral ul .itensProject.mostra{
    display: block;
}
.menuLateral ul .itensPO.mostra{
    display: block;
}
.menuLateral ul .itensStage.mostra{
    display: block;
}
.menuLateral ul .itensUM.mostra{
    display: block;
}
.menuLateral ul .itensMaterial.mostra{
    display: block;
}
.menuLateral ul .itensCategory.mostra{
    display: block;
}
.menuLateral ul .itensVendor.mostra{
    display: block;
}
.menuLateral ul .itensDriver.mostra{
    display: block;
}
.menuLateral ul .itensUser.mostra{
    display: block;
}

.btnAbre{
    position: relative;
    top: 10px;
    left: 20px;
    background-color: white;
    color:thistle;
    border-radius: 5px;
    font-size: 26px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.btnAbre:hover{
    color: red;
}

.btnFecha{
    position: relative;
    left: 9px;
    top: 1px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    color: black;
}

.btnFecha:hover{
    border: 1px solid red;
    color: white;
    background-color: red;
}

.menuLateral.mostra{
    display: block;
    left: 0;
}

.menuLateral ul li a svg{
    position: absolute;
    font-size: 30px;
    right: 30px;
    margin-top: 12px;
    transition: 0.4s;
}

.menuLateral ul li a svg.gira{
    transform: rotate(90deg);
}

.btnSair {
    
    position: absolute;
    vertical-align: bottom;
    border-radius: 5px;
    font-size: 26px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}