<!DOCTYPE html>
<head>
  <title>login</title>
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/password.css">
</head>
<body>
  <div class="container-password">
    <div class="password-forget">
      <div class="password">
        <label for="email">Edentifique-se:</label>
        <input type="email" name="email" id="email" placeholder="Digite seu email">
      </div>
      <div class="password">
        <label for="new_password">Nova Senha:</label>
        <input type="password" name="new_password" id="new-password" placeholder="Senha nova">
      </div>
      <div class="password">
        <label for="confirm_password">Confirme a nova senha:</label>
        <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirme sua senha">
      </div>
      <div class="btn-enter">
        <button class="btn-password" type="submit" disabled >Confirmar</button>
      </div>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
